<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微信助手</title>
    <script type="application/javascript" src="../static/js/jquery-3.2.0.min.js"></script>
    <script type="application/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            console.log("DOM fully loaded and parsed");
            $("#qrcode").ready(function () {
                console.log("image loaded");
                $.get('/login', function (data) {
                    if (data.data == 'error') {
                        location.reload();
                    }
                    console.log(data)
                });
            });
        });
    </script>
</head>
<body>
<img id="qrcode"  src="/qrcode.png" />
<p>scan to login</p>
</body>
</html>